name: CI

on:
  push:
    paths:
      - 'uqlm/**'
      - 'tests/**'
      - 'uv.lock'
  pull_request:
    paths:
      - 'uqlm/**'
      - 'tests/**'
      - 'uv.lock'

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13.3"

    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --group test

      - name: Run tests
        run: uv run pytest -v