name: Linting with Ruff

on:
    pull_request:
        branches:
          - main
          - develop
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ruff-formatting:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Set up uv
          uses: astral-sh/setup-uv@v5
          with:
            python-version: "3.12"
        - name: Install dev dependencies
          run: uv sync --group dev --no-install-project
        - name: Lint with Ruff
          run: uv run ruff check uqlm/
        - name: Check for unformatted files
          run: uv run ruff format --check uqlm/